[Unit]
Description=Run logrotate.service everyday
[Timer]

OnCalendar=daily


OnBootSec=5min


Persistent=true


Unit=logrotate.service

[Install]

WantedBy=timers.target
